*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 500px){
    .adapt{
        max-width: 75%;
    }
}
@media (min-width: 1000px){
    .adapt{
        max-width: 50%;
    }
}
@media (min-width: 1400px){
    .adapt{
        max-width: 25%;
    }
}